<!--Main Navigation-->


  <div class="container-fluid" id="" >
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark" id="fix">

            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Library</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">

                    <li>
                        <a routerLink="desktop" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>

                    </li>
                    <li>
                        <a routerLink="1/setting" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Setting</span></a>
                    </li>
                    <li>
                        <a routerLink="2/about" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">About</span></a>
                        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">

                        </ul>
                    </li>

                </ul>
                <hr>
                 <div class="dropdown pb-4">
 <!-- Content here -->
 <ul class="nav nav-pills">
  <li class="nav-item">
      <!-- <a class="nav-link active" href="#">Active</a> -->
  </li>
  <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Back</a>
      <div class="dropdown-menu">
          <a class="dropdown-item" >profile</a>
          <a class="dropdown-item" routerLink="">Log Out</a>

      </div>
  </li>
</ul>
                </div>
            </div>
        </div>
        <div class="col py-3"  style="margin-left:35vh;">
          <router-outlet></router-outlet>
        </div>
    </div>
</div>


