
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="alert alert-danger" *ngIf="error">
        <p>{{error}}</p>
      </div>
      <div *ngIf="isLoading" style="text-align: center;">
        <app-loading-spinner></app-loading-spinner>
      </div>
      <form class="form-control"  (ngSubmit)="onFormSubmit(f)" #f="ngForm" *ngIf="!isLoading">
              <label for="name" >Name:</label>
              <input type="text " class="form-control" name="name" #name="ngModel"  ngModel required>
              <span *ngIf="name.invalid && name.touched"> <p class="text-danger">*This field is required.</p></span>

              <label for="email" >Email:</label>
              <input type="email" id="email" class="form-control" name="email" #email="ngModel" ngModel required >
              <span *ngIf="email.invalid && email.touched"> <p class="text-danger">*This field is required.</p></span>

              <label for="username" >Create User Name:</label>
              <input type="username" class="form-control" name="username" #user="ngModel" ngModel required>
              <span *ngIf="user.invalid && user.touched"> <p class="text-danger">*This field is required.</p></span>

              <label for="password" >Password:</label>
              <input type="password" class="form-control" name="password" #pass="ngModel" ngModel required >
              <span *ngIf="pass.invalid && pass.touched"> <p class="text-danger">*This field is required.</p></span>

              <div class="text-center">
                <button [disabled]="f.invalid" class="btn btn-success" type="submit">SigUp</button> | <a routerLink="/login"> Already Have An Account</a>
              </div>
      </form>
    </div>
  </div>
</div>
